@model GameLink.Player

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Player</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.GamerName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GamerName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Game.GameName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Game.GameName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.GamerStyle.GamerStyle1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.GamerStyle.GamerStyle1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Platform.PlatformName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Platform.PlatformName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Region.Region1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Region.Region1)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.PlayerId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
